<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <!-- <script src="./js/script.js"defer></script> -->
  <title>Home</title>
</head>
<body>
  <% if (locals.user) {%>
    <h1>Welcome back, <%= user.first_name %></h1>
    <% if (user.membership_status === 'guest') { %>
      <p>You are a guest. If you'd like upgrade your membership to see all message details,  <a href="/upgrade">click here</a> .</p>
        <% if (messages) { %>
          <% messages.forEach((message) => { %>
            <div class="msg-container">
              <div class="msg-title">Title: Upgrade to view</div>
              <div class="msg-content">Message: Upgrade to view</div>
              <div class="msg-author">By: <%= message.first_name %> <%= message.last_name %></div>
              <div class="msg-created-at"><%= message.created_at.toLocaleString() %></div>
            </div>
          <% }) %>
        <% } %>
    <% } else if (user.membership_status = 'member') { %>
      <% messages.forEach((message) => { %>
        <div class="msg-container">
          <div class="msg-title">Title: <%= message.title %></div>
          <div class="msg-content">Message: <%= message.content %></div>
          <div class="msg-author">By: <%= message.first_name %> <%= message.last_name %></div>
          <div class="msg-created-at"><%= message.created_at.toLocaleString() %></div>
        </div>
        <% }) %>
    <%} %>  
    <a href="/log-out">LOG OUT</a>
  <% } else { %>
    <h1><%= title %></h1>
    <form action="/log-in" method="POST">
      <label for="email">Email</label>
      <input id="email" name="email" type="email" autocomplete="email"/>
      <label for="password">Password</label>
      <input id="password" name="password" type="password" autocomplete="current-password" />
      <button type="submit">Log In</button>
    </form>
    <p>Don't have an account? </p>
    <a href="sign-up-page">Sign up</a>
  <%}%>

</body>
</html>